<h1 class="text-center" style="margin-top: 50px">Error 404: pagina web no encontrada</h1>
<div style="text-align: center; margin-top: 30px">
    <img src="http://i.imgur.com/GKU9MQf.gif" class="img-rounded"></img>
</div>