<h1 class="text-center" style="margin-top: 50px"><span class="text-danger">Error 404:</span> pagina web no encontrada :(</h1>
<div style="text-align: center; margin-top: 40px">
    <img src="http://i.imgur.com/GKU9MQf.gif" class="img-rounded"></img>
</div>