<% if @archivos.size == 0 %>
    <h1>No se encontraron resultados</h1>
<% else %>
    <h1>Se encontraron <span class="label label-default"><%= @archivos.size %></span> resultados</h1>
<% end %>
<%= render "tablaArchivos" %>
<%
    cuantos = 20
    if @archivos.size > cuantos %>
<div class="row" style="text-align: center">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
</div>
<% end %>