<h1><%= @archivo.titulo %></h1>
<p><%= @archivo.descripcion %></p>
<%= image_tag @archivo.documento.url(:thumbnail) %>
<%= button_to  download_path, :class=>"btn btn-primary btn-lg", :method => :get do%>Descargar <span class="glyphicon glyphicon-download"></span>
<%end%>