
<h1 class="text-center">Bienvenido a Recursos<span style="color: rgb(254, 190, 16)">UC</span>!</h1>
<hr>
<p class="lead text-justify">Creada por alumnos de ingenieria para alumnos de ingenieria. RecursosUC es un sitio
compartir, organizar interrogaciones y pruebas anteriores de manera colaborativa.</p>

<p class="lead text-justify">
  Web en estado beta y realizada bajo <a href="http://rubyonrails.org/">Ruby on Rails</a>. Si quieres aportar o
  mirar el código puedes hacerlo en <a href="<%= APPCONFIG['url_github'] %>>">github</a>.
</p>
<p class="lead text-justify">
  Comunicate con nosotros a <a href="mailto:recursosuc.cl@gmail.com">recursosuc.cl@gmail.com</a>.
</p>