html, body {
	height: 100%;
}
.contenedor-principal{
    max-width: 800px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}
.navbar {
    padding-left: 10%;
    padding-right: 10%;
}
.t-principal
{
	font-size: 2em;
    margin-top: -10px;
}
.t-principal span{
	color: rgb(254, 190, 16);
}
.navegador {
	margin-top: 20px;
}
#editor-input {
    width: 99%;
    display: none;
}
#editor-input .jumbotron {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
a, a:hover {
	text-decoration: none;
}
.form-inline #buscador {
    width: 70%;
    height: 50px;
    font-size: 25px;
}

.form-inline button {
    height: 50px;
}
#push, #footer {
        height: 60px;
        clear: both;
}
#footer {
	background-color: white;
}
#creditos p{
	padding-left: 50px;
}
